<div class="d-flex h-100"
  style=" height: 77rem; display: flex; justify-content: center; align-items: center; ">
  <div class="offset-md-4 col-md-4 offset-sm-3 col-sm-6 my-auto text-center">
    <div class="shadow-sm rounded border text-dark p-5" style="background: rgba(255,255,255,.4); box-shadow: 4px 4px 5px #00420c">
      <img alt="em progresso" src="/img/cogs.gif" style="height:150px;">
      <h1 class="my-4 h3">PÁGINA EM CONSTRUÇÃO!!!</h1>
      <div>Volte em breve!</div>
      <div class="text-center mt-3 " style="padding: 4px ;">
        <a type="button" name="retrun" class="btn btn-secondary botao-barra" href="/">
          <span class="span-icon-button"><i class="bi bi-box-arrow-left"></i></span>
          Voltar
      </a>
      </div>

    </div>

  </div>
</div>
